p {
    margin: 8px 0px 0px 0px;
}

.card {
    width: 350px;
    height: 250px;
    background-color: #191a1e;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #acb0b6;
}

.cards a:hover {
    cursor: pointer;
}

.card-title {
    margin-left: 5px;
}

.card-header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.card-header img {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
}

.card-content {
    display: flex;
    flex: 1;
    overflow-y: auto;
}

.card-goal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.cards {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.index-header {
    width: 100%;
}

.index-header-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

.filter {
    display: flex;
    flex-direction: row;
    margin: 30px 0px 40px 100px;
}

.filter-title {
    margin: 0px;
}

/* width */
.card-content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.card-content::-webkit-scrollbar-track {
    background: #747474; 
}

/* Handle */
.card-content::-webkit-scrollbar-thumb {
    background: #25262a; 
}

/* Handle on hover */
.card-content::-webkit-scrollbar-thumb:hover {
    background: #202124; 
}
