{% extends 'myapp/base.html' %}

{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/account.css' %}">

    <div class="account-header">
        <h1 class="account-header-title">Faça seu cadastro</h1>
        <p>* Todos os dados são obrigatórios</p>
    </div>

    <div class="account-body">
        <form class="account-form" action="{% url 'get' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Cadastrar-se</button>
        </form>
    </div>

    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/register.js' %}"></script>

{% endblock %}