{% extends 'myapp/base.html' %}

{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'account.css' %}">

    <div class="account-header">
        <h1 class="account-header-title">Pedido</h1>
    </div>

    <div class="account-body">
        <form class="account-form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            
            <label for="">Descrição</label>
            <textarea type="text" name="desc" id=""></textarea>
            <label for="">De quanto precisa?</label>
            <input type="number" step="0.01" name="amount" id="">
            <button type="submit">Entrar</button>
        </form>
    </div>

{% endblock %}